@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.mlg {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 25px;
}

body,
html,
#root,
#app {
  overflow: hidden;
  height: 100%;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.active {
  --tw-bg-opacity: 1;
  background-color: rgb(254 200 107 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(4 2 3 / var(--tw-text-opacity));
  border-radius: 0.25rem;
}

.anim {
  position: relative;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.animButton:focus:after,
.animButton:hover:after {
  width: 100%;
  left: 0%;
}

.animButton:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fec86b;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.headerBg {
  background: rgb(88, 90, 98);
  background: linear-gradient(
    180deg,
    rgba(88, 90, 98, 1) 0%,
    rgba(54, 55, 60, 1) 100%
  );
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #34353ae6;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/******************** */

.loader {
  position: relative;
  width: 600px;
  height: 600px;
  background: #212121;
  border-radius: 50%;
  box-shadow: inset 0px 0px 7px #fec86b;
  border: 1px solid #fec86b;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader::before {
  content: "";
  position: absolute;
  inset: 100px;
  background: transparent;
  border: 1px solid #fec86b;
  border-radius: 50%;
  box-shadow: inset 0px 0px 5px #fec86b;
}

.loader::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #fec86b;
  box-shadow: inset 0px 0px 3px #fec86b;
}

.loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: transparent;
  transform-origin: top left;
  animation: radar81 3s linear infinite;
  box-shadow: -25px -75px 30px -50px #fec86b;
  border-top: 2px solid #fec86b;
}

.loader span::before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background: #fec86b;
  transform-origin: top left;
  transform: rotate(-90deg);
  filter: blur(15px) drop-shadow(10px 0px 10px #fec86b);
}

@keyframes radar81 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#dot-1 {
  --dot-start-top: 200px;
  --dot-start-left: 400px;
  --dot-end-top: 130px;
  --dot-end-left: 20px;
  --delay: 0s;
}

#dot-2 {
  --dot-start-top: 100px;
  --dot-start-left: 0px;
  --dot-end-top: -3px;
  --dot-end-left: 90px;
  --delay: 0s;
}

#dot-3 {
  --dot-start-top: 100px;
  --dot-start-left: 105px;
  --dot-end-top: 18px;
  --dot-end-left: 18px;
  --delay: 0s;
}

#dot-4 {
  --dot-start-top: 110px;
  --dot-start-left: 150px;
  --dot-end-top: 140px;
  --dot-end-left: 30px;
  --delay: 0s;
}

#dot-5 {
  --dot-start-top: -5px;
  --dot-start-left: 85px;
  --dot-end-top: 125px;
  --dot-end-left: 120px;
  --delay: 4s;
}

.dot {
  width: 5px;
  height: 5px;
  position: absolute;
  top: var(--dot-start-top);
  left: var(--dot-start-left);
  border-radius: 9999px;
  background: rgba(255, 255, 255);
  box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 182, 0.5),
    0px 0px 10px 2px rgba(0, 255, 135, 0.3);
  -webkit-animation: fly 32s linear infinite;
  animation-delay: var(--delay);
  -moz-animation: fly 32s linear infinite;
}

@keyframes fly {
  0% {
    top: var(--dot-start-top);
    left: var(--dot-start-left);
  }

  100% {
    top: var(--dot-end-top);
    left: var(--dot-end-left);
  }

  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    background: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 10px 2px rgba(0, 255, 182, 0.5),
      0 0 15px 2px rgba(0, 255, 135, 1);
  }

  0%,
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90% {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 10px 2px rgba(0, 255, 182, 0.5),
      0 0 5px 2px rgba(0, 255, 135, 0.3);
  }
}
